.top-margin-30 {
	margin-top: 30px;
}

.top-margin-10 {
	margin-top: 10px;
}

.left-margin-20 {
	margin-left: 20px;
}

.thumbnail {
	margin-top: 30px;
	background-color: #eee;
}

.dark-grey-background {
	background-color: #c5c1c1;
}

.light-grey-background {
	background-color: #eee;
}

.well, .label, .form-control, .thumbnail, .container .jumbotron {
	border-radius: 0px;
}

.login-fields {
	background-color: #c5c1c1;
	padding-top: 20px;
	margin-bottom: 10px;
}

.control-label {
	background-color: #e2dcdc;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
	padding-left:10px;
	margin-top:1px;
	width: 100px;
}

.username-field, .pwd-field, .email-field, .verify-field {
	padding-right: 0px;
	padding-left: 20px;
}

.username-lbl, .pwd-lbl, .email-lbl, .verify-lbl {
	padding-left: 0px;
}

#comments {
	margin-left: 50px;
	margin-top: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}